body {
    background-color: indigo;
    color: indigo;
    max-width: 100%;
    font-family: roboto;
    font-size: larger;
    padding-top: 20px;
}

header {
    align-items: center;
    margin: 0 auto;
}

#header-image img {
    max-width: 80%;
    height: auto;
}

#meooow {
    font-size: 25px;
    font-family: 'Poiret One', cursive;
}

#header-image {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

section {
    max-width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

h1, h2 {
    color: white;
    font-family: 'Kaushan Script', cursive;
    margin: 0;
}

p {
    background-color: lightblue;
    padding: 20px;
}

a {
    color: gold;
    text-decoration: none;
}

    a:hover {
        color: darkorange;
        text-decoration: underline;
    }

.flex-column {
    display: flex;
    flex-direction: column;
}

#wrapper {
    display: flex;
    justify-content: space-between;
}
